@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&display=swap");
body {
  font-family: Raleway, sans-serif;
  color: #0065fc;
  background-color: #f2f2f2;
}
#conteneur {
  display: flex;
  justify-content: right;
}
